body {
    background: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial;
}

.chat-box {
    width: 330px;
    height: 530px;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

.chat-header {
    background: linear-gradient(90deg, #ff4dc4, #7c28ff);
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 14px;
    border-radius: 25px 25px 0 0;
}

.chat-body {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.bot-msg, .user-msg {
    padding: 10px 14px;
    margin: 6px;
    width: fit-content;
    max-width: 80%;
    border-radius: 14px;
    font-size: 15px;
}

.user-msg {
    background: #4e59ff;
    color: #fff;
    align-self: flex-end;
    border-bottom-right-radius: 4px;
}

.bot-msg {
    background: #e9e9e9;
    border-bottom-left-radius: 4px;
}

.input-box {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    gap: 7px;
}

#user-input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 10px;
    font-size: 15px;
}

#send {
    background: #4b46ff;
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px 12px;
    border-radius: 14px;
    cursor: pointer;
}

.mic-btn {
    width: 55px;
    height: 55px;
    background: #4b46ff;
    color: white;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 65px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
